/**********************Global Settings*********************/
body{
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
   scroll-behavior: smooth;
}
.container{
    max-width: 90%;
    margin: auto;
}
.row{
    display: flex;
    justify-content: space-between;
}
.btn {
    outline: none;
    border: none;
    font-size: 17px;
    padding: 12px 25px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right,#FC8F49,#FE4C2F);
    box-shadow: 7px 5px 25px -9px #fe5031;
    cursor: pointer;
}
.btn:hover{
    background: linear-gradient(to left,#FC8F49,#FE4C2F);
}
.color-word{
    background: linear-gradient(to right,#FC8F49,#FE4C2F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
}
.color-word:hover{
    background: linear-gradient(to left,#FC8F49,#FE4C2F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/**********************Global settings Finish*********************/

/**********************Home css Start Here*********************/
.home-section{
    background-image: url("images/Frame 59.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: -2;
}

.right-content img{
    width:80%;
}
.left-content{
    padding: 5% 5%;
    margin-top: 68px;
}
.head-title h1{
    color: #575757;
    font-size: 50px;
}


.head-paragraph p{
    font-size: 18px;
    color: #303030;
}
.head-button{
    margin-top: 50px;
}
.right-content{
    margin-top: 35px;
}
/**********************Home css Ends Here*********************/

/**********************About css Start Here*********************/
.about-me{
    background-image: url("images/7.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: -2;
}
.about-left-content{
    width: 45%;
}
.about-left-content img{
    width: 65%;
    margin-left: 120px;
    margin-top: 110px;
}
.about-right-content{
    width: 40%;
    padding: 5% 5%;
    margin-top: 85px;
}
.about-right-content h2{
    color: #575757;
    font-size: 50px;
}
.about-right-content p{
    line-height: 30px;
    color: #303030;
}
.about-btn{
    margin-top: 80px;
}
/**********************About css Ends Here*********************/

/**********************Recipie css Start Here*********************/
.recipie-head-section{
    width: 65%;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 3% 5%;
}
.recipie-head-section h2{
    color: #575757;
    font-size: 40px;
    
}
.recipie-head-section p{

    color: #303030;
}
.recipie-card-section{
    
}
.card{
    width:30%;
    box-shadow: 0px 0px 46px -22px gray;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 15px;

}
.card h2{
    font-weight: 800;
}
.card p{
    line-height: 30px;
}
.card img{
    width: 100%;
    background-position: center;
    background-size: cover;

}
/**********************Recipie css Ends Here*********************/

/**********************progress-statistics css Start Here********************/
.progress-wrapper {
    height: 234px;
    width: 100%;
    box-shadow: 0px 0px 46px -22px gray;
    margin-top: 180px;
}
.progress-statistics h1{
    font-size: 50px;
}
.progress-inner-wrap{
    width: 80%;
    margin: 0 auto;
}
/**********************progress-statistics css Ends Here********************/

/**********************Footer css Start Here********************/
#footer-section{
    background-color: #0B0D17;
    color: white;
    margin-top: 180px;
    height: 220px;
    width:100%;

}
.footer-content{
    width: 100%;
    text-align: center;
    padding: 4px 5px;

}
.footer-content h2 {
    margin-top: 48px;
    font-size: 35px;
    margin-bottom: 60px;
    color: #5B5B5B;
}

.footer-content p{
    font-size: 16px;
    color: #BDBEC1;
}
/**********************Footer css Ends Here********************/

/**********************
***********************
Thank You
***********************
***********************/